<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="../../../assets/img/APLogo3.png" id="logoAP">
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#app-header" class="nav__link active-link">
                        <i class="uil uil-home nav__icon"></i> Inicio
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#app-acerca-de" class="nav__link">
                        <i class="uil uil-user nav__icon"></i> Acerca de mí
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#app-hys" class="nav__link">
                        <i class="uil uil-file-alt nav__icon"></i> Skills
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#app-proyecto" class="nav__link">
                        <i class="uil uil-scenery nav__icon"></i> Proyectos
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#contactame" class="nav__link">
                        <i class="uil uil-scenery nav__icon"></i> Contactame
                    </a>
                </li>
                <!--<li class="nav__item">
                    <a href="#contact" class="nav__link">
                        <i class="uil uil-message nav__icon"></i> Contactme
                    </a>
                </li>-->
            </ul>
            <i class="uil uil-times nav__close" id="nav-close"></i>
        </div>

        <div class="nav__btns">
            <a type="button" class="button button--flex" (click)="login()" *ngIf="!isLogged">Acceder</a>
            <a type="button" class="button button--flex" (click)="onLogOut()" *ngIf="isLogged">Salir</a>
            
            <!--Theme change button
            <i class="uil uil-moon change-theme" id="theme-button"></i>

            <div class="nav__toggle" id="nav-toggle">
                <i class="uil uil-apps"></i>
            </div>-->
        </div>

    </nav>
</header>