<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <ul class="footer__links">
                <li>
                    <a href="#app-proyecto" class="footer__link">Proyectos</a>
                </li>
                <li>
                    <a href="#app-header" class="footer__link">Inicio</a>
                </li>
            </ul>

            <div class="footer__socials">
                <a href="https://es-la.facebook.com/" target="_blank" class="footer__social">
                    <i class="uil uil-facebook"></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                    <i class="uil uil-instagram"></i>
                </a>
                
                <a href="https://ar.linkedin.com/" target="_blank" class="footer__social">
                    <i class="uil uil-linkedin"></i>
                </a>
            </div>
        </div>
        <p class="footer__copy">&#169;Aguedo Zalazar, Gabriela Elizabeth | Argentina Programa 2022 <br>
            Corrientes, Argentina
        </p>
        
        
    </div>
</footer>